<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/hero-image.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid rounded" loading="lazy" alt="funzoHub">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Unleash Your Potential with Our Online Learning Platform</h1>
        <p class="lead">
            Our interactive courses will help you master any skill, from coding to cooking. Learn at your own pace, on your own time. Join a community of like-minded learners and get support from our expert instructors.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
        </div>
    </div>
</div>

<!-- categories -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <% if(categories != '') { %>
        <% categories.forEach(function(category, index) { %>
    <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/<%- category.image %>" alt="<%- category.name %>" Loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
    </a>
    <% }) %>
    <% } %>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view-all.jpg" alt="View All Categories" Loading="lazy">
        </div>
        <div class="pt-1">View All</div>
    </a>

</div>

<!-- categories end -->

<!-- latest -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Courses</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof subject.latest !== 'undefined' && subject.latest.length > 0) { %>
          <% subject.latest.forEach(function(course, index){ %>
          <a href="/course/<%= course._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= course.image %>" alt="<%= course.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= course.title %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>

</section>

<!-- latest end -->

<!-- information technology courses -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Information Technology Courses</h2>
        <a href="/categories/Information Technology" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof subject.info_tech !== 'undefined' && subject.info_tech.length > 0) { %>
          <% subject.info_tech.forEach(function(course, index){ %>
          <a href="/course/<%= course._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= course.image %>" alt="<%= course.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= course.title %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>

</section>

<!-- information technology end -->

<!-- mathematics courses -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Mathematics Courses</h2>
        <a href="/categories/Mathematics" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof subject.maths !== 'undefined' && subject.maths.length > 0) { %>
          <% subject.maths.forEach(function(course, index){ %>
          <a href="/course/<%= course._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= course.image %>" alt="<%= course.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= course.title %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>

</section>

<!-- mathematics end -->

<!-- health courses -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Health Courses</h2>
        <a href="/categories/Health" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof subject.health !== 'undefined' && subject.health.length > 0) { %>
          <% subject.health.forEach(function(course, index){ %>
          <a href="/course/<%= course._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= course.image %>" alt="<%= course.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= course.title %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>

</section>

<!-- health end -->


<!-- submit section -->
<section class="px-4 py-5 my-5 text-center">
    <img src="/img/publish-recipe.png" width="566" height="208" alt="Publish your course Free today" class="d-block mx-auto mb-4 img-fluid" Loading="lazy">
    <h1 class="display-5 fw-bold">Publish your course Free today</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Course</a>
        </div>
    </div>
</section>

<!-- submit end -->



